@{
    ViewBag.Title = "Home Page";
}
<br />
<div class="row">
    <ul>
        @foreach(var item in Model)
            {
                <li>
                    @item.DateTime - @item.LecturerName
                </li>
            }
    </ul>
</div>